language: erlang

env:

   - ST=GemStone-2.4.5.2 GLASS="1.0-beta.9" LOADS="'Core' 'Tests'"
   - ST=GemStone-3.1.0.2 GLASS="1.0-beta.9" LOADS="'Core' 'Tests'"
   - ST=GemStone-3.1.0.5 GLASS="1.0-beta.9.1" LOADS="'Core' 'Tests'"

install:
   - export PROJECT_HOME="$(pwd)"
   - cd $HOME
   - wget -q -O builderCI.zip https://github.com/dalehenrich/builderCI/zipball/master
   - unzip -q builderCI.zip
   - cd dalehenrich-builderCI*
   - source build_env_vars
   - ln -s $PROJECT_HOME $GIT_PATH
   - ./build_image.sh

before_script:
   - export BASELINE="Seaside30"
   - export REPOSITORY_BASE="Seaside30/repository"

script: $PROJECT_HOME/tests/testTravisCI.sh -verbose
